<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 100%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Verdana";'>
2.Clinical Criteria for Diagnosing Hypotension
<a class="anchor" id="1"></a>

**a. Absolute Hypotension:**
   - Systolic blood pressure <90 mmHg.
   - Or Mean arterial pressure <65 mmHg.

**b. Relative Hypotension:**
   - A drop in systolic blood pressure > 40 mmHg from the patient's baseline.

**c. Orthostatic Hypotension:**
   - A fall in systolic blood pressure >20 mmHg.
   - Or A fall in diastolic blood pressure of >10 mmHg.
   - These changes are observed when a person transitions from lying down to standing up.

**d. Profound Hypotension:**
   - A blood pressure that is so low that requires the support of vasopressors to maintain a value within a safe range.

<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 100%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Verdana";'>
3.Coding Hypotension: ICD Codes Overview
<a class="anchor" id="1"></a>

**I95 Hypotension**

- The overarching code above delineates the broad category of hypotension. However, it explicitly excludes:Cardiovascular collapse (R57.9), Maternal hypotension syndrome (O26.5), Nonspecific low blood pressure reading (R03.1)

**a. I95.0: Idiopathic hypotension**

- This code refers to hypotension where the cause is unknown or indeterminate, signifying cases where medical professionals cannot identify a specific etiology.

**b. I95.1: Orthostatic hypotension**

- Represents cases where patients experience a sudden drop in blood pressure when transitioning from sitting or lying down to standing. However, it excludes Neurogenic Orthostatic Hypotension, such as in the case of the Shy-Drager syndrome (G23.8).

**c. I95.2: Hypotension due to drugs**
- Hypotension that results from drug intake or interaction. An additional external cause code can further identify the specific drug responsible, if desired.

**d. I95.8: Other hypotension**
- Encompasses other forms of hypotension not already classified, including chronic cases.

**e. I95.9: Hypotension, unspecified**
- A generic code for instances of hypotension where the specific type or cause is not stipulated.



*The selection of these codes offers a systematic approach for clinicians and medical researchers to classify, document, and report on various manifestations and etiologies of hypotension. By employing these codes, medical practitioners can depict a patient's condition with precision, formulate appropriate therapeutic strategies, and conduct pertinent epidemiological studies. Moreover, this classification provides a standardized means for the global medical community to communicate and share data efficiently and consistently.*

<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 100%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Verdana";'>
4.ICD to SNOMED-CT: Navigating Data Integration and Mapping
<a class="anchor" id="1"></a>

In [3]:
import pandas as pd

data = {
    'ICD10_code': ['I95', 'I95.0', 'I95.1', 'I95.2', 'I95.8', 'I95.9'],
    'ICD10_Disease': ['Hypotension',
                      'Idiopathic hypotension',
                      'Orthostatic hypotension',
                      'Hypotension due to drugs',
                      'Other hypotension',
                      'Hypotension, unspecified'],
    'SNOMED-CT_code': [45007003, 195506001, 28651003, 234171009, 77545000, None],
    'SNOMED-CT_Disease': ['Hypotension',
                          'Idiopathic hypotension',
                          'Orthostatic hypotension',
                          'Drug-induced hypotension',
                          'Chronic hypotension',
                          None]
}

mapping_table = pd.DataFrame(data)
mapping_table

,ICD10_code,ICD10_Disease,SNOMED-CT_code,SNOMED-CT_Disease
0,I95,Hypotension,45007003.0,Hypotension
1,I95.0,Idiopathic hypotension,195506001.0,Idiopathic hypotension
2,I95.1,Orthostatic hypotension,28651003.0,Orthostatic hypotension
3,I95.2,Hypotension due to drugs,234171009.0,Drug-induced hypotension
4,I95.8,Other hypotension,77545000.0,Chronic hypotension
5,I95.9,"Hypotension, unspecified",NaN,None

- Overall, this mapping is generally acceptable. Only I95.9 did not find a direct counterpart in SNOMED-CT, but it's worth noting that I95.9 inherently represents an unspecified type of hypotension. Yet, there isn't an impeccable alignment between the two. For instance, "I95.9: Hypotension, unspecified" from ICD-10 doesn't have a direct counterpart within SNOMED-CT. To be specific, through exploration across both platforms, it's evident that ICD codes serve as a more universally adopted coding system, whereas SNOMED-CT provides a more comprehensive and granular classification. For instance, categories like Chronic orthostatic hypotension (75181005) and Idiopathic chronic hypotension (286963007) in SNOMED-CT depict a more nuanced breakdown of hypotensive conditions.

<h2 style="font-size:18px">Pros:</h2>

- **Granularity and Comprehensive Representation**: SNOMED-CT affords a more intricate and exhaustive portrayal than ICD-10. This heightened granularity facilitates clinicians and researchers in delineating and categorizing ailments and manifestations with enhanced precision.

- **Interoperability Enhancement**: Establishing a mapping bridge between the two systems bolsters data interoperability. Such fluidity in data exchange becomes paramount in cross-platform, cross-database, or international research endeavors.

- **Standardization and Universality**: While both terminologies offer structured medical vocabularies, their convergence through mapping ensures a standardized approach to healthcare data representation, fostering consistency across various systems and geographies.

<h2 style="font-size:18px">Cons:</h2>

- **Intricacy**: Given the granularity of SNOMED-CT, it inherently possesses a level of complexity surpassing that of ICD-10. Mastery and navigation of such a detailed system demand heightened expertise and additional time.

- **Data Analysis Quality Concerns**: As previously indicated, a seamless correspondence between the two systems is not always attainable. Such disparities, combined with ambiguities arising from partial mappings in large datasets, can culminate in erroneous cohort formulations, mischaracterizations of pivotal variables, and the potential dissemination of skewed results.
   
- **Privacy Concerns**: The ever-present risks to individual privacy, even in datasets deemed deidentified, often imply that primary datasets seldom achieve public accessibility.

<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 100%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Verdana";'>
5.Identifying the Target Cohort: Profound Hypotension Insights from MIMIC Data
<a class="anchor" id="1"></a>

<h2 style="font-size:18px">Research Work</h2>

**a. Pharmacological Agents for Hypotension**
- Based on a thorough review of pharmacological literature, the primary active ingredients identified for the treatment of hypotension (vasoactive agents specifically tailored for hypotension management) may include[1]:
      dopamine , vasopressin, phenylephrine , angiotensin II,
      epinephrine , dobutamine , norepinephrine , milrinone,
      metaraminol , methylene blue



**b. Criteria for Profound Hypotension Diagnosis**
- From the specification regarding profound hypotension, it's evident that when a patient exhibits symptoms of hypotension persisting for over 60 minutes, they can be classified under profound hypotension. Accordingly, our preliminary step is to sieve patients based on the three predominant forms of hypotension delineated in medical diagnoses (Absolute Hypotension, Relative Hypotension, Orthostatic Hypotension). Subsequent to that, we further refine our cohort by evaluating the duration of their symptoms.

**Reference**

[1]Chloe Joynt and Po-Yin Cheung (2018) ‘Treating Hypotension in Preterm Neonates With Vasoactive Medications’, Frontiers in Pediatrics, 6. doi:10.3389/fped.2018.00086.

  <h2 style="font-size:18px">Assumptions</h2>


**a. Study Population**
- The primary focus of this investigation revolves around patients experiencing hypotension within the ICU setting. Consequently, datasets specifically pertaining to ICU-centric data have been employed for the analysis.

**b. Label Verification for Hypotension Manifestation**
- When a patient manifests symptoms of hypotension, their blood pressure measurement must be concomitantly tagged with a label signifying a [low](#target_code_block) status.


**c. Definition for the Correction of Profound Hypotension**
- If, subsequent to the cessation of medication, the patient's initial blood pressure reading does not reflect any anomalies (specifically, the absence of labels suggestive of hypotension - manifested by the exclusion of certain itemIDs associated with hypotension), it is inferred that the profound hypotension episode has been rectified through pharmacological intervention.

<h2 style="font-size:18px">Load libraries and setup environment</h2>

In [5]:
# Import libraries
import pandas as pd
# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery
import os
# authenticate
auth.authenticate_user()
# Set up environment variables
project_id = 'trusty-wares-395203'
if project_id == 'CHANGE-ME':
  raise ValueError('You must change project_id to your GCP project.')
os.environ["GOOGLE_CLOUD_PROJECT"] = project_id

# Read data from BigQuery into pandas dataframes.
def run_query(query, project_id=project_id):
  return pd.io.gbq.read_gbq(
      query,
      project_id=project_id,
      dialect='standard')

# set the dataset
dataset = 'mimiciv'


  <h2 style="font-size:18px">Itemid Retrieval through Fuzzy Matching</h2>

- Drawing from predefined assumptions, I utilized fuzzy matching techniques to explore the ICU dataset within the `physionet-data.mimiciv_icu.d_items` table, aiming to pinpoint itemid that align with indicators of hypotension , systolic blood pressure and also itemid related to pertinent pharmacological components. These discerned itemids will play a pivotal role as selection criteria when sifting through target patients in both the chartevents and inputevents tables.

In [6]:
itemid_sign_blood_pressure= run_query('''
select *
from `physionet-data.mimiciv_icu.d_items`
where lower(label) like '%blood%pressure%'
'''
)

itemid_drugs=run_query('''
SELECT DISTINCT itemid
    FROM `physionet-data.mimiciv_icu.d_items`
    WHERE (LOWER(label) LIKE '%dopamine%' OR
           LOWER(label) LIKE '%epinephrine%' OR
           LOWER(label) LIKE '%norepinephrine%' OR
           LOWER(label) LIKE '%phenylephrine%' OR
           LOWER(label) LIKE '%vasopressin%' OR
           LOWER(label) LIKE '%dobutamine%' OR
           LOWER(label) LIKE '%milrinone%' OR
           LOWER(label) LIKE '%angiotensin ii%' OR
           LOWER(label) LIKE '%metaraminol%' OR
           LOWER(label) LIKE '%methylene blue%')
           AND LOWER(category) LIKE '%medications%'
           ''')

<a id='target_code_block'></a>

In [7]:
#A function is defined here to mark the relevant fields in red
def highlight_rows(val):
    if isinstance(val, str):
        if "low" in val.lower() :
            return 'background-color: red'
    return ''

itemid_sign_blood_pressure.style.applymap(highlight_rows, subset=['label', 'itemid'])


  <h2 style="font-size:18px">Data Extraction Process</h2>

- Leveraging the identified blood pressure signal itemid, relevant patient data (consisting of `stay_id`, `charttime`, `itemid`, and `valuenum`) is extracted from the `physionet-data.mimiciv_icu.chartevents`,named `chart_table`.

- Then data pertaining to the administration of vasoactive agents for these patients are obtained from the `physionet-data.mimiciv_icu.inputevents`, yielding the `med_data` table that comprises columns `stay_id`,`subject_id`, `hadm_id`,`starttime`, `endtime`, and `itemid`.

- The rationale behind using `stay_id` as a patient identifier stems from the fact that patients might have multiple treatment episodes. It's imperative to ensure that the measured data pertains to a single ICU admission instance for each patient.

In [8]:
chart_table=run_query('''
select stay_id,charttime,itemid,valuenum
from `physionet-data.mimiciv_icu.chartevents` as h
where itemid in (220056,223752,227538,220050,220051,220052,220179,220180,220181,224167,224643,227242,227243)
order by h.stay_id,h.charttime
''')
med_data=run_query('''
with chart_table as
(
select distinct stay_id
from `physionet-data.mimiciv_icu.chartevents`
where itemid in (220056,223752,227538,220050,220051,220052,220179,220180,220181,224167,224643,227242,227243)
#order by subject_id,charttime ASC
),
drugid as(
    SELECT DISTINCT itemid
    FROM `physionet-data.mimiciv_icu.d_items`
    WHERE (LOWER(label) LIKE '%dopamine%' OR
           LOWER(label) LIKE '%epinephrine%' OR
           LOWER(label) LIKE '%norepinephrine%' OR
           LOWER(label) LIKE '%phenylephrine%' OR
           LOWER(label) LIKE '%vasopressin%' OR
           LOWER(label) LIKE '%dobutamine%' OR
           LOWER(label) LIKE '%milrinone%' OR
           LOWER(label) LIKE '%angiotensin ii%' OR
           LOWER(label) LIKE '%metaraminol%' OR
           LOWER(label) LIKE '%methylene blue%')
           AND LOWER(category) LIKE '%medications%')

select  input.stay_id,input.subject_id,input.hadm_id,input.starttime,input.endtime,input.itemid
from `physionet-data.mimiciv_icu.inputevents` as input
JOIN drugid ON input.itemid = drugid.itemid
JOIN chart_table on input.stay_id = chart_table.stay_id

ORDER BY input.stay_id, input.starttime ASC

''')

  <h2 style="font-size:18px">Cohort Extraction Process</h2>

**Part I in chart_table**

- Employing the numerical thresholds for the three hypotension types outlined in Question 2, each selection criterion was complemented by additional conditions: a sustained hypotension duration exceeding 60 minutes and a blood pressure label indicating a 'low' status.

In [9]:
chart_table = chart_table.sort_values(by=['stay_id', 'charttime'])
chart_table['charttime'] = pd.to_datetime(chart_table['charttime'])
#Calculate the measurement time difference
chart_table['time_diff'] =chart_table.groupby('stay_id')['charttime'].diff().dt.total_seconds() / 60
#Calculate blood pressure change value
chart_table['bp_diff'] = chart_table.groupby('stay_id')['valuenum'].diff()

In [10]:
#multiple Conditions filter

#Absolute_Hypotension
Absolute_Hypotension_longer_than_60min_longer_than_60min = chart_table[((chart_table['valuenum'] < 90)|(chart_table['valuenum'] < 65) )
                              & (chart_table['time_diff'] > 60)
                              & (chart_table['itemid'].isin([227538, 220056, 223752]))]



#Relative Hypotension
Relative_Hypotension_longer_than_60min = chart_table[(chart_table['bp_diff'] <= -40)
                              & (chart_table['time_diff'] > 60)
                              & (chart_table['itemid'].isin([227538, 220056, 223752]))]
#Orthostatic Hypotension
Orthostatic_Hypotension_longer_than_60min= chart_table[((chart_table['bp_diff'] <= -20) | (chart_table['bp_diff'] <= -10))
                                                       & (chart_table['time_diff'] > 60)
                                                       & (chart_table['itemid'].isin([227538, 220056, 223752]))]

In [11]:
# Extracting stay_id from each DataFrame and merging them
absolute_hypotension_ids = Absolute_Hypotension_longer_than_60min_longer_than_60min['stay_id'].unique()
relative_hypotension_ids = Relative_Hypotension_longer_than_60min['stay_id'].unique()
orthostatic_hypotension_ids = Orthostatic_Hypotension_longer_than_60min['stay_id'].unique()

# Merging and removing duplicates
merged_ids = list(set().union(absolute_hypotension_ids, relative_hypotension_ids, orthostatic_hypotension_ids))
#merged_ids[:10], len(merged_ids)  # Displaying the first 10 stay_ids and the total number of unique stay_ids

**Part II in med_data**


Let's continue with our definitions and introduce new ones:
- \( `merged_ids` \) represents the profound hypotension patients identified in Part I.
- \( `charttime` \) is the blood pressure measurement time.
- \( `S_N` \) denotes the blood pressure signal's itemid after medication, indicating **not low blood pressure**.
- \(`starttime`\) and \(`endtime`\) represent the commencement and conclusion of medication administration respectively.

The patient's hypotension is deemed to be corrected by medication if the following conditions are simultaneously satisfied:

- \( `merged_ids` \) should correspond to the patients from Part I.
- \( `starttime` > `charttime` \)
- \( `S_N` \) appears after \( `endtime` \).


*The initial criterion ensures that we're considering only those patients identified as having hypotension from Part I.*

*The second stipulation emphasizes that medication started after the profound hypotension was detected.*

*The final criterion mandates that a normal blood pressure signal is observed after the conclusion of the medication administration.*

*Meeting these three conditions implies that the hypotension was indeed corrected by the administered medication, designating these patients as our final target cohort.*

In [12]:
#Patients obtained by extracting part1 from med_data and having blood pressure records
itemid_list = itemid_drugs['itemid'].unique().tolist()
filtered_data = med_data[(med_data['stay_id'].isin(merged_ids)) & (med_data['itemid'].isin(itemid_list))]

filtered_data = filtered_data.sort_values(by=['stay_id', 'starttime'], ascending=[True, True])

In [13]:
# Convert the 'starttime' and 'endtime' columns in the dataset to Timestamp
filtered_data['starttime'] = pd.to_datetime(filtered_data['starttime'])
filtered_data['endtime'] = pd.to_datetime(filtered_data['endtime'])

chart_table['charttime'] = pd.to_datetime(chart_table['charttime'])

In [14]:
# 1. Process overlapping drug administration intervals for each stay_id
def merge_intervals(df):
    df = df.sort_values(by='starttime').reset_index(drop=True)
    for i in range(len(df) - 1):
        if df.loc[i, 'endtime'] >= df.loc[i + 1, 'starttime']:
            df.loc[i + 1, 'starttime'] = df.loc[i, 'starttime']
            df.loc[i + 1, 'endtime'] = max(df.loc[i, 'endtime'], df.loc[i + 1, 'endtime'])
            df.loc[i, 'starttime'] = pd.NaT
            df.loc[i, 'endtime'] = pd.NaT
    return df.dropna()

med_data_cleaned = filtered_data.groupby('stay_id').apply(merge_intervals).reset_index(drop=True)

# 2. Merge the datasets
merged = pd.merge(chart_table, med_data_cleaned, on='stay_id', how='inner')

# 3. Identify records that have a charttime after the medication endtime
post_med_records = merged[merged['charttime'] > merged['endtime']]

# 4. Filter records where the measurement after drug administration is not in the low BP itemid list
target_records = post_med_records[~post_med_records['itemid_x'].isin([227538, 220056, 223752])]

# 5. Extract unique stay_ids of the target cohort
final_stay_ids = target_records['stay_id'].unique().tolist()

  <h2 style="font-size:18px">ICD Hypotension Diagnosis Verification</h2>


- Patients without a related hypotension ICD code are denoted as '0' in the 'icd_code' column.
- During a meticulous search within the `physionet-data.mimiciv_hosp.diagnoses_icd` , it was discerned that a substantial number of entries pertaining to hypotension were annotated using the ICD-9 nomenclature. Consequently, both ICD-10 and [ICD-9](#target__block) codes emblematic of hypotension have been extracted to inform the adjudication of the final cohort.

In [15]:
Icd_code= run_query('''
    SELECT *
    FROM `physionet-data.mimiciv_hosp.diagnoses_icd`

    WHERE icd_code LIKE '458%' OR icd_code LIKE 'I95%'
    ''')

In [16]:
# Filter the charttable for the desired stay_ids (assuming you have a list named final_stay_ids)
filtered_charttable = med_data[med_data['stay_id'].isin(final_stay_ids)]

# Drop duplicates to get unique combinations of stay_id, subject_id, and hadm_id
unique_combinations = filtered_charttable[['stay_id', 'subject_id', 'hadm_id']].drop_duplicates().reset_index(drop=True)

In [17]:
# Step 1: Extract unique combinations of stay_id, subject_id, and hadm_id from chart_table
unique_combinations = med_data[['stay_id', 'subject_id', 'hadm_id']].drop_duplicates()

# Step 2: Merge this with the diagnoses_icd table on subject_id and hadm_id
merged_with_icd = pd.merge(unique_combinations, Icd_code[['subject_id', 'hadm_id', 'icd_code']], on=['subject_id', 'hadm_id'], how='left')

# Step 3: Fill NaN values in the icd_code column with 0
merged_with_icd['icd_code'] = merged_with_icd['icd_code'].fillna(0)

# Resulting dataframe contains stay_id, subject_id, hadm_id, and icd_code (with 0 where not found)
#print(merged_with_icd)

In [18]:
# Count the number of rows where icd_code is 0
zero_icd_count = (merged_with_icd['icd_code'] == 0).sum()
zero_icd_count

18855

  <h2 style="font-size:18px">Final cohort tables</h2>
  
- final_cohort_charttable

- final_cohort_medtable

In [19]:
final_cohort_charttable= chart_table[chart_table['stay_id'].isin(merged_with_icd['stay_id'])]

In [24]:
final_cohort_charttable.head(10)

      stay_id           charttime  itemid  valuenum  time_diff  bp_diff
289  30000484 2136-01-14 18:41:00  223752      90.0        NaN      NaN
290  30000484 2136-01-14 18:44:00  220179     101.0        3.0     11.0
291  30000484 2136-01-14 18:44:00  220180      75.0        0.0    -26.0
292  30000484 2136-01-14 18:44:00  220181      81.0        0.0      6.0
293  30000484 2136-01-14 18:47:00  220180      75.0        3.0     -6.0
294  30000484 2136-01-14 18:47:00  220181      81.0        0.0      6.0
295  30000484 2136-01-14 18:47:00  220179     101.0        0.0     20.0
296  30000484 2136-01-14 20:00:00  220180      43.0       73.0    -58.0
297  30000484 2136-01-14 20:00:00  220181      55.0        0.0     12.0
298  30000484 2136-01-14 20:00:00  220179      92.0        0.0     37.0

In [20]:
final_cohort_medtable = filtered_data[filtered_data['stay_id'].isin(merged_with_icd['stay_id'])]

In [23]:
final_cohort_medtable.head(10)

,stay_id,subject_id,hadm_id,starttime,endtime,itemid
137,30005707,14569364,20870580,2144-01-07 00:27:00,2144-01-07 01:15:00,221749
138,30005707,14569364,20870580,2144-01-07 01:15:00,2144-01-07 02:47:00,221906
139,30005707,14569364,20870580,2144-01-07 02:47:00,2144-01-07 04:00:00,221906
140,30005707,14569364,20870580,2144-01-07 04:00:00,2144-01-07 07:16:00,221906
141,30005707,14569364,20870580,2144-01-07 07:16:00,2144-01-07 07:51:00,221906
142,30005707,14569364,20870580,2144-01-07 07:51:00,2144-01-07 08:35:00,221906
143,30005707,14569364,20870580,2144-01-07 08:35:00,2144-01-07 09:02:00,221906
144,30005707,14569364,20870580,2144-01-07 09:02:00,2144-01-07 11:12:00,221906
145,30005707,14569364,20870580,2144-01-07 11:12:00,2144-01-07 11:32:00,221906
146,30005707,14569364,20870580,2144-01-07 11:32:00,2144-01-07 12:28:00,221906

In [21]:
def highlight_rows(val):
    if isinstance(val, (int, float)):
        if val == 9:
            return 'background-color: red'
    return ''
itemid_sign_blood_pressure= run_query('''
    SELECT *
    FROM `physionet-data.mimiciv_hosp.d_icd_diagnoses`

    WHERE lower(long_title) LIKE '%hypotension%'
'''
)


itemid_sign_blood_pressure.style.applymap(highlight_rows, subset=['icd_version', 'icd_code'])

<a id='target__block'></a>